{% extends "mnts/layout.html" %}

{% block title %}Email Sent{% endblock %}

{% block content %}
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Calendar">
        <h2 class="mt-4 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Password reset sent</h2>
        </div>
    
        <div class="mt-0 sm:mx-auto sm:w-full sm:max-w-sm">

            <p class="mt-6 text-center text-sm text-gray-500">
                We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            </p>

            <p class="mt-6 text-center text-sm text-gray-500">
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
            </p>
        </div>
    </div>
{% endblock %}
