{% extends "mnts/layout.html" %}

{% block content %}
    <p>
    <span class="box-decoration-clone bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2">
        Hello <br />
            {{user}}!
        </span>
    </p>
    <a href="{% url 'change_password' %}">Change password</a>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">logout</button>
    </form>

    {% include 'mnts/settings-content.html' %}
    <div class="p-4" id='calendar'></div>
    
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasSidebarLabel"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div id="offcanvasDescription" class="px-3">
        </div>

        <div id="offcanvasBody" class="offcanvas-body">
        </div>
    </div>

{% endblock %}
