{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Alpine{% endblock %}</title>
        <script type="text/javascript">
            var datesUrl = "{% url 'dates' %}";
            var editThemeUrl = "{% url 'edit_event' %}"
        </script>
        <script defer src="{% static 'bundle.js' %}"></script>
        <link href="{% static 'output.css' %}" rel="stylesheet">
        <script>
            // Timezone settings
            const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            document.cookie = "django_timezone=" + timezone;
        </script>
    </head>

    <body class="h-full">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>

</html>