<template x-if="currentTab == 'Event'">
    <div x-data="app" id="event-tab" class="flex justify-center">
        {% include 'mnts/new-event-form.html' %}
    </div>
</template>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('app', () => ({
            weekdays: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
            days: [],
            start: moment().format('yyyy-MM-DDTHH:00'),
            oldDayofWeek: '',
            times: {},
            updateTime() {
                let newDayOfWeek = moment(this.start).format('dddd');
                if (this.days.includes(this.oldDayofWeek)) {
                    this.days.splice(this.days.indexOf(this.oldDayofWeek), 1)
                }
                if (!this.days.includes(newDayOfWeek)) {
                    this.days.push(newDayOfWeek);
                }
                this.times[newDayOfWeek] = moment(this.start).format('HH:mm');
                this.oldDayofWeek = newDayOfWeek;
            }
        }));
    });
</script>